.card {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &__content {
        width: calc(100% - 40px);
        max-width: 1170px;
        display: grid;
        grid-template-columns: max-content auto;
        align-items: center;
        aspect-ratio: 9 / 5;
        background: $background-color;
        position: relative;
        z-index: 0;
        &::before,
        &::after {
            content: "";
            width: 100%;
            height: 2%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background-image: $background-image;
        }
        &::after {
            top: auto;
            bottom: 0;
            transform: rotate(180deg);
        }
    }
    &__text {
        font-family: 'Consolas';
        font-size: clamp(8px, 3vw, 35px);
        font-weight: 400;
        line-height: 1.17;
        margin-left: 1ch;
    }
    &__line {
        color: $unset;
        &--first-tab {
            margin-left: $spaces;
        }
        &--second-tab {
            margin-left: 2 * $spaces;
        }
    }
    &__curly-bracket-main {
        color: $curly-bracket-main;
    }
    &__key {
        color: $key;
        &::before,
        &::after {
            content: '"';
        }
    }
    &__string {
        color: $string;
        &::before,
        &::after {
            content: '"';
        }
    }
    &__curly-bracket-second {
        color: $curly-bracket-second;
    }
    &__number {
        color: $number;
        text-decoration: none;
    }
    &__link {
        color: $string;
        text-decoration: none;
    }
    &__image {
        width: clamp(60px, 15vw, 235px);;
        height: clamp(60px, 15vw, 235px);;
        position: relative;
        border-radius: 8px;
        background-image: url("../img/fotka.webp");
        margin: auto;
        background-size: cover;
        &::before,
        &::after {
            display: block;
            content: "";
            height: 100%;
            width: 100%;
            border: 8px solid $string;
            z-index: -1;
            position: absolute;
            transform: translate(-50%, -50%) rotate(-45deg);
            top: 50%;
            left: 50%;
            box-shadow: 0 0 10px $string, inset 0 0 20px $string;
            border-radius: 8px;
            @media (max-width: $breakpoint-mobile) {
                border: 4px solid $string;
            }
            @media (max-width: $breakpoint-smallest) {
                content: none;
            }
        }
        &::after {
        z-index: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        box-shadow: none;
        @media (max-width: $breakpoint-mobile) {
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
        }
        }
    }
}