//COLORS
$curly-bracket-main: #F3CA38;
$key: #8EE0FF;
$unset: #FFFFFF;
$string: #c78f78;
$curly-bracket-second: #DB79D0;
$number: #A7CEB9;

//BACKGROUND COLORS
$background-color: #252526;
$background-image: linear-gradient(to right, #f3ca38, #ffad4a, #ff9268, #ff7e8a, #ff75aa, #f07fc8, #d98ce2, #ba9af4, #9fb0ff, #8ac3ff, #84d3ff, #8ee0ff);

//BREAKPOINTS
$breakpoint-mobile: 620px;
$breakpoint-smallest: 380px;

//SPACES
$spaces: 4ch;